DISCORD_TOKEN=
DISCORD_GUILD_ID=
WELCOME_CHANNEL_ID=
LEAVE_CHANNEL_ID=
GAMBLING_CHANNEL_ID=
GAMBLING_TEST_CHANNEL_ID=
GENERAL_CHANNEL_ID=
ECONOMY_LOG_CHANNEL_ID=
TICKET_CATEGORY_ID=
TICKET_STAFF_ROLE_IDS=
BIRTHDAY_VIP_ROLE_ID=
SUGGESTIONS_CHANNEL_ID=
GAMBLING_INFOS_ID=
GAMBLING_MONEY_ID=
GAMBLING_SHOP_ID=
BOT_OWNER_USER_ID=
DASHBOARD_PORT=3847
DASHBOARD_SECRET=
GITHUB_TOKEN=
GITHUB_REPO_OWNER=
GITHUB_REPO=
GITHUB_SITE_BRANCH=site
DASHBOARD_SYNC_MINUTES=60